<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StudentDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\andre\source\repos\DataBase_ADO5\DataBase_ADO5\StudentsDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>